.containerEvents {
    display: flex;
    padding: 0.1rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
}

.calendarContainer {
    height: 75vh;
    width: 100%;
}

.icons{
    display: flex;
    gap: 0.1rem;
    align-items: center;
}

.icon {
    width: 1rem;
}

.licensePlate{
    font-size: 0.9rem;
    color: var(--dark-grey);
}

.licensePlate:hover{
    color: var(--orange);
}
