.container {
    height: 90vh;
    width: 80vw;
}

/* .containerEvents {
    background-color: red;
} */

/* .rbc-row-bg {
    background: orange !important;
} */

/* .rbc-event {
    background: yellow;
    padding: 5px;
} */