.NavBar{
    display: flex;
    position: relative;
}

.NavLink{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 2rem;
    letter-spacing: 0.07rem;
    position: relative;
}

.NavLink:hover{
    color: #ff6600;
}

.selected{
    color: #ff6600;
}

/* Subrayado animado cuando el enlace está activo */
.NavLink:before {
    content: ''; /* Esto crea un elemento vacío antes del texto */
    position: absolute;
    bottom: -6px; /* Colocamos el subrayado en la parte inferior del texto */
    left: 0;
    width: 0; /* Inicialmente el subrayado tiene un ancho de 0 */
    height: 2px; /* Altura del subrayado */
    background-color: #ff6600; /* Color del subrayado */
    transition: width 0.5s ease-in-out; /* Hacemos que el subrayado se expanda con una transición */
}

/* Cuando el enlace está activo, el subrayado se expande completamente */
.NavLink.selected:before {
    width: 100%;
}

.DropdownMenu {
    position: absolute;
    top: 98%; /* Ajusta según la separación deseada */
    left: -1rem;
    z-index: 1000;
    padding: 1.75rem 0;
  }

  .DropdownItemsContainer{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .DropdownItem {
    padding: 1rem;
    cursor: pointer;
    background-color: white;
  }
  
  .DropdownItem:hover {
    background-color: #f0f0f0;
  }
