/*--CSS RESET--*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
}

/*--FONTS--*/

/* @font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/openSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/openSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/openSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/openSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/openSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/openSans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
} */

/*--VARS--*/

:root {
    --white: #ffffff;
    --light-grey: #f9f9f9;
    --medium-grey: #b2b2b2;
    --dark-grey: #3c3c3b;
    --black: #000000;
    --orange: #ff6600;
    --light-orange: #fecba9;
    --dark-orange: #8b5a37;
    --off-orange: #bd7341;
    --red: #ad0000;
    --green: #08702b;
    --border-light: solid 1px #f1f1f1;
    --border-medium: solid 1px #e5e5e5;
    --border-dark: solid 1px #b2b2b2;
  }

/*--ACTUAL CSS--*/

body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select, button {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"], 
input[type="date"], 
input[type="number"], 
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: var(--orange);
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.page{
    position: relative;
    background-color: white;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 5rem;
    height: 100%;
    
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--orange);
}

.container {
    flex: 1; /* Para que ocupe todo el espacio disponible en la columna */
    box-sizing: border-box;
    display: flex; /* Para usar flexbox */
    flex-direction: column; /* Columna para el diseño vertical */
    overflow: auto; /* Evita desbordamientos visuales */
}

.disabled{
    opacity: 0.3;
}

.columns {
    flex: 1; /* Para que ocupe todo el espacio disponible en la columna */
    box-sizing: border-box;
    display: flex; /* Para usar flexbox */
    padding-top: 2rem;
}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1rem;
}

.left span, .right span{
    font-weight: bold;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--light-grey);
    width: 65%;
}

.clientInfo{
    padding: 1rem 2rem;
}

.clientInfo li{
    margin: 0.5rem;
    list-style: disc;
}

.clientInfo li span{
    font-weight: normal;
}

button{
    background-color: white;
    color: var(--dark-grey);
    border-radius: 2px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--dark-grey);
}

button:hover{
    border: 2px solid var(--orange);
    color: var(--orange);
}

button:disabled {
    border: 2px solid var(--dark-grey);
    color: var(--dark-grey);
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede interactuar con el botón */
    opacity: 0.6; /* Cambia la opacidad para que el botón deshabilitado parezca más tenue */
}

.titleButtons{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.titleButtons button{
    letter-spacing: 0.05rem;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
}

.showAll{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

button.delete{
    border-color: var(--red);
    color: var(--red);
}

button.delete:hover{
    background-color: var(--red) !important;
    color: white;
}

button.add{
    border-color: var(--green);
    color: var(--green);
}

button.add:hover{
    background-color: var(--green) !important;
    color: white;
}

.titleButtons button img{
    width: 1rem;
}

/*--FORMS--*/

.titleForm{
    border-bottom: 1px solid var(--orange);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleForm h2{
    font-weight: normal;
    font-size: 1.1rem;
    text-transform: none;
    letter-spacing: 0;
}

.titleForm .titleButtons button{
    padding: 0.5rem 0.75rem;
    border-width: 1px;
}

.titleForm .titleButtons button img{
    width: 1.2rem;
}

.formContainer .container, .formContainerNested .container{
    padding: 0;
}

form label{
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--orange);
  border-radius: 2px;
  border: none;
}

input[type="date"] {
    width: 30% !important;
    padding: 4px;              
    background-color: #f8f8f8;
    border: 1px solid #ccc;  
    font-size: 14px;           
    color: #333;       
}

input[type="time"] {
    width: 30% !important;
    padding: 2.6px;              
    background-color: #f8f8f8;
    border: 1px solid #ccc;  
    font-size: 14px;           
    color: #333;       
}

.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    max-height: 100px;
    overflow-y: auto;
    width: 100%;
}

.dropdown li {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.highlight {
    background-color: #f0f0f0;
}

.errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #ad0000;
    font-style: italic;    /* Texto en cursiva */
    font-size: 0.8rem;
    font-weight: 550;
}

/*--TABLES--*/

.filterSearch {
    border: none;
    width: 6rem;
    border-bottom: 1px solid #797979;
    padding-right: 0px;
    padding-bottom: 2px;
    text-align: right;
    font-size: 0.75rem;
}

.filterSearch::placeholder {
    font-style: italic; 
}

.filterSearch:focus {
    outline: none; 
}

.tableContainer {
    flex: 1; /* Ocupa todo el espacio disponible */
    overflow-y: auto; /* Agrega scroll vertical */
    border: var(--border-dark);
    border-top: none;
    border-radius: 3px;
}

/* Personalización de la barra de desplazamiento */
.tableContainer::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.tableContainer::-webkit-scrollbar-track {
    background: var(--light-grey); /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px; /* Redondea los bordes del fondo */
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey); /* Color de la "thumb" (parte desplazable) */
    border-radius: 10px; /* Redondea los bordes de la "thumb" */
    border: 2px solid var(--light-grey); /* Espacio alrededor de la "thumb" */
}

.tableContainer::-webkit-scrollbar-thumb:hover {
    background-color: var(--orange); /* Color de la "thumb" al pasar el mouse por encima */
}

/* Opcional: Personalización para Firefox */
.tableContainer {
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: var(--dark-grey) var(--light-grey); /* Color de la "thumb" y del fondo */
}

/* Opcional: Personalización para IE y Edge */
.tableContainer {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Desaparece la barra de desplazamiento cuando no se usa */
}

table{
    font-size: 0.75rem;
    width: 100%;
    border-collapse: collapse;
}

th{
    font-weight: 600;
    position: sticky; /* Fijar posición */
    top: 0; /* Posicionar en la parte superior */
    background-color: white; /* Fondo para el encabezado */
    z-index: 1; /* Asegúrate de que el encabezado esté por encima del contenido */
    border-bottom: 1px solid #ddd; /* Línea inferior para distinguir */
    text-align: left;
    width: fit-content;
}

th.center, td.center{
    max-width: fit-content;
    text-align: center;
}

th, td{
    border: var(--border-light);
    padding: 0.5rem;
}

td a{
    width: 100%;
    display: flex;
    justify-content: center;
}

td img.detailImg{
    width: 1rem;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

tbody tr:hover {
    background-color: #dddddd52; /* Color de fondo al pasar el mouse */
}

th div.withFilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

th div.withFilter button.sort{
    background: none;
    color: var(--dark-grey);
    padding: 0;
}

/*--PAGINATION--*/

.pagination{
     display: flex;
     gap: 0.5rem;
}

.pagination button{
    background-color: var(--light-grey);
    color: var(--dark-grey);
    padding: 0.25rem 0.75rem;
    border: 2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.pagination button:hover, .pagination button.currentPage{
    color: var(--orange);
    border: 2px solid var(--orange);
    box-sizing: border-box;
}

.pagination button:disabled{
    color: var(--dark-grey);
    opacity: 0.5;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

/**--POP UP--**/

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
    padding: 1rem;
}

.popUpClosed {
    display: none;
}

.formContainer {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    min-width: 500px;
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    max-height: 55vh;
    position: relative; /* Permite controlar los márgenes y el padding */
    padding-right: 1.5rem; /* Espacio extra para que el scroll quede fuera */
    margin-right: 1.5rem; /* Compensa el padding para que el ancho no cambie */
    overflow-y: scroll; /* Fuerza la barra de desplazamiento */
    box-sizing: content-box; /* Asegura que el padding no influya en el ancho */
}

.form-container::-webkit-scrollbar {
    width: 0; /* Oculta el scroll en Chrome, Safari */
}

.formContainerNested{
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    margin: 1rem 0;
    background-color: var(--light-grey);
}

.formRow{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formRow label{
    width: 37%;
}

.formRow input{
    width: 60%;
    box-sizing: border-box;
}

.formRow textarea{
    width: 100%;
    height: 5rem;
}

.formRow ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formRow ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--light-grey);
    box-sizing: border-box;
}

.formRow ul li button{
    background: none;
    padding: 0;
    color: var(--dark-grey);
    border: none;
}

.formRow ul li button:hover{
    color: black;
}

.formRowWithButton, .formRowDate {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formRowWithButton label {
    width: 35%;
}

.formRowWithButton div, .formRowDate div{
    width: 60%;
    display: flex;
    align-items: center;
}

.formRowDate div{
    justify-content: space-around;
    gap: 0.5rem;
}

.formRowDate div input{
    width: 100% !important;
}

.formRowWithButton div input{
    width: calc(93% - 0.5rem);
    box-sizing: border-box;
}

.formRowWithButton div input.phonePrefix{
    width: 15%;
    margin: 0 0.25rem;
}

.formRowWithButton button {
    border: 1px solid var(--dark-grey);
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 100%;
    width: 7%;
}

.formRowWithButton button:hover{
    border-color: var(--orange);
}

.clientSelection{
    padding: 0.5rem 0;
}

.clientSelectionInputs{
    padding: 0.5rem 0 1rem;
}

.searchRow {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 8px; /* Espacio entre input y botón */
}

.searchRow input {
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchRow button {
    min-width: 40px; /* Para asegurar un tamaño fijo */
    border: 1px solid var(--dark-grey);
}

.searchRow button:hover{
    border-color: var(--orange);
}

.filterSelectionInputs, .procedureSelectionInputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: var(--light-grey);
}

.procedureSelectionInputs{
    justify-content: start;
    gap: 1rem;
}

.filterSelectionInputs label, .procedureSelectionInputs label{
    display: flex;
    align-items: center;
}
.filterSelectionInputs label input, .procedureSelectionInputs label input{
    margin-right: 0.25rem;
}

.newItem{
    padding: 1rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
    border: 1px solid var(--dark-grey);
    border-radius: 2px;
    margin: 0.5rem 0;
}

.newItem button{
    margin: 0 0 0 auto;
}

.submit{
    display: flex;
    flex-direction: column;
}

.submitNested{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.submit button{
    margin-top: 1rem;
}

.submit button img {
    width: 1rem;
}

.submitNested button img{
    width: 0.75rem;
}

.submitNested button, .newItem button{
    width: fit-content;
    background-color: var(--light-grey);
    border: 1px solid var(--dark-grey);
    font-size: 0.75rem;
}

.submitNested button:hover, .newItem button:hover{
    border-color: var(--orange);
}

/*-- CALENDAR --*/

.rbc-event {
    background-color: #00000000 !important;
    border-radius: 0 !important;
    margin-bottom: 0.15rem !important;
    padding: 0 !important;
}

.rbc-event:hover{
    color: var(--orange) !important;
}

.rbc-date-cell.rbc-now{
    
    background-color: var(--light-grey) !important;
    color: var(--orange) !important;
}

.rbc-day-bg.rbc-today, .rbc-today{
    background-color: var(--light-grey) !important;
}

.rbc-button-link:hover{
    border: none !important;
}

.rbc-date-cell{
    margin-bottom: 0.25rem !important;
}

.rbc-button-link.rbc-show-more{
    color: var(--light-orange) !important;
    margin-right: 0.3rem !important;
}

.rbc-show-more:hover{
    color: var(--orange) !important;
}

.rbc-row-segment{
    display: flex !important;
    justify-content: end !important;
}

.rbc-toolbar-label{
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 600;
}

button.rbc-active{
    box-shadow: none !important;
}

.rbc-day-slot, .rbc-events-container, .rbc-day-slot .rbc-event{
    margin: 0 !important;
    
    border: none !important;
}

.rbc-event-label{
    display: none !important;
}

.rbc-day-slot .rbc-event{
    border: 1px var(--orange) solid !important;
    background-color: var(--light-orange) !important;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td{
    vertical-align: middle !important;
}

/*-- LOADING --*/

.loadingApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: 9999;
}

.loadingPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.loadingCell {
    text-align: center;
    padding: 2rem;
}

/*-- DELETE MODAL --*/

.deleteModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
    padding: 1rem;
}

.deleteModalContainer{
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.deleteModalContainer p{
    text-align: center;
}

.deleteModalButtons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}

.deleteModalButtons button:hover{
    background-color: var(--orange);
    color: white;
}

/*-- ERROR PAGE --*/

.error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.error div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.error div img{
    width: 4rem;
}

.error div ul{
    list-style: disc;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.error div li{
    color: var(--dark-grey);
}

.error div li span{
    font-weight: 600;
}

/*-- PRINT CSS --*/

@media print {
    body * {
        visibility: hidden;
    }

    #printable-section, #printable-section * {
        visibility: visible;
    }

    #printable-section {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*-- SHEETS --*/

.dateSheet {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dateSheet label{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.dateSheet input{
    width: fit-content !important;
}

.dateSheet button {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.dateSheet button img {
    width: 1rem;
}